
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container {
  max-width: 70%;
  margin: 2em auto;
}

.title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3em;
  font-weight: bold;
}

.item {
  text-align: center;
  position: relative;
  border-top: 0.02em solid #ccc;
}

.accordion-container {
  width: 100%;
  margin: 1em auto 1em auto;
}

.accordion-container label {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0.5em 0;
  z-index: 20;
  display: block;
  height: 100%;
  cursor: pointer;
  line-height: 1.2em;
  font-size: 1.2em;
  font-weight: bold;
  text-align: start;
  color: blue;
}

.item-contcol {
  position: absolute;
  top: 0.4em;
  right: -50%;
  transition: right 0.3s linear;
  height: auto;
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.2em;
  font-size: 1.2em;
  font-weight: bold;
}

.accordion-container label:hover {
  color: #000;
}

.accordion-container input:checked+label,
.accordion-container input:checked img:hover
{
  color: #000;
}

.accordion-container input {
  display: none;
}

.accordion-container .item {
  cursor: pointer;
}

.accordion-container:hover label {
  color: #000;
}

.accordion-container:hover .item-contcol {
  right: 0;
}

.accordion-container .item:hover .item-contcol {
  transform: rotate(45deg);
}

.accordion-container .item:hover~img {
  height: auto;
}

.accordion-container input:checked~.item-contcol,
.accordion-container input:checked~.item-contcol:hover {
  transform: rotate(45deg);
}

.accordion-container img {
  margin: .7em auto;
  width: 50%;
  height: auto;
  transition: all 0.5s linear;
  height: 0;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
}

.accordion-container input:checked ~ img {
  transition: all 0.5s linear;
  height: auto;
  opacity: 1;
  visibility: visible;
}

.accordion-container .item:hover img {
  transition: all 0.7s linear;
  height: auto;
  opacity: 1;
  visibility: visible;
}

.accordion-container input:checked ~ img
.accordion-container input:checked ~ img:hover{
  transition: all 0.5s linear;
  height: auto;
  opacity: 1;
  visibility: visible;
}


@media (max-width: 1920px) and (min-width: 821px){
  .main {
    max-width: 1920px;
  }
  .title {
    font-size: 3em;
  }
  .accordion-container label{
    line-height: 2em;
    font-size: 2em;
  }
  .item-control{
    line-height: 2em;
    font-size: 2em;
  }
  .accordion-container img{
    width: 70%;
  }
}
@media (max-width: 820px) and (min-width: 321px){
  .main {
    max-width: 820px;
  }
  .title {
    font-size: 1.5em;
  }
  .accordion-container label{
    line-height: 1em;
    font-size: 1em;
  }
  .item-control{
    line-height: 1em;
    font-size: 1em;
  }
  .accordion-container img{
    width: 70%;
  }
}
@media (max-width: 320px) and (min-width: 200px){
  .main {
    max-width: 320px;
  }
  .title {
    font-size: 1.1em;
  }
  .accordion-container label{
    line-height: 0.8em;
    font-size: 0.8em;
    width: 70%;
  }
  .item-control{
    line-height: 0.8em;
    font-size: 0.8em;
  }
  .accordion-container img{
    width: 70%;
  }
}

