
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

*,


article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container {
  max-width: 70%;
  margin: 2em auto;
}

.title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3em;
  font-weight: bold;
}

.item {
  text-align: center;
  border-top: 0.02em solid #ccc;
}

.accordion-container {
  width: 100%;
  margin: 1em auto 1em auto;
}

.acc-text {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

label {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0.5em 0;
  display: block;
  cursor: pointer;
  line-height: 1.2em;
  font-size: 1.2em;
  font-weight: bold;
  text-align: start;
  color: blue;
  transition: all .3s ease-out;
}

.acc-icon {
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.2em;
  font-size: 1.2em;
  font-weight: bold;
  transition: all 0.3s linear;
  opacity: 0;
  visibility: hidden;
  right: -2em;
}

.accordion-container input{
  display: none;
}
.acc-item{
  text-align: center;
}

.label-title{
  text-align: start;
}
.acc-img{
  transition: all .3s linear;
}
img {
  margin: .7em auto;
  width: 50%;
  height: auto;
}

.acc-img {
  opacity: 0;
  height: 0;
  text-align: center;
  transition: all .3s ease-out;
}

label:hover .acc-img {
  opacity: 1;
  height: 100%;
}

.accordion-container input:checked + label > .acc-item {
  color: black;
}

.item-contcol-close {
  transition: all .3s linear;
  display: none;
  opacity: 0;
  visibility: hidden;
}

.item-contcol-open {
  transition: all .3s linear;
}

.accordion-container:hover .acc-icon {
  display: block;
  right: 0;
  opacity: 1;
  visibility: visible;
}

.accordion-container input:checked + label > .acc-item > .acc-img {
  opacity: 1;
  height: 100%;
}

.accordion-container input:checked + label > .acc-item > .acc-text > .acc-icon > .item-contcol-close {
  transition: all .3s linear;
  display: block;
  opacity: 1;
  visibility: visible;
}

.accordion-container input:checked + label > .acc-item > .acc-text > .acc-icon > .item-contcol-open {
  transition: all .3s linear;
  display: none;
  opacity: 0;
  visibility: hidden;
}

.acc-item:hover .item-contcol-close {
  transition: all .3s linear;
  display: block;
  opacity: 1;
  visibility: visible;
}

.acc-item:hover .item-contcol-open {
  transition: all .3s linear;
  display: none;
  opacity: 0;
  visibility: hidden;
}

 .accordion-container label:hover {
  color: #000;
}

.accordion-container:hover label {
  color: #000;
}

.accordion-container input:active + label {
  opacity: 0.5;
}

@media (min-width: 821px) and (max-width: 1920px){
  .main {
    max-width: 1920px;
  }
  .title {
    font-size: 3em;
  }
  .label-title{
    line-height: 2em;
    font-size: 2em;
  }
  .acc-icon{
    line-height: 2em;
    font-size: 2em;
  }
  img{
    width: 70%;
  }
}
@media (min-width: 321px) and (max-width: 820px){
  .main {
    max-width: 820px;
  }
  .title {
    font-size: 1.5em;
  }
  .label-title{
    line-height: 1em;
    font-size: 1em;
  }
  .acc-icon{
    line-height: 1em;
    font-size: 1em;
  }
  img{
    width: 70%;
  }
}
@media (max-width: 320px){
  .main {
    max-width: 320px;
  }
  .title {
    font-size: 1.1em;
  }
  .label-title{
    line-height: 0.9em;
    font-size: 0.7em;
    width: 70%;
  }
  .acc-icon{
    line-height: 0.9em;
    font-size: 0.7em;
  }
  img{
    width: 80%;
  }
}


@media (min-width: 320px) and (max-width: 820px) {
  label:hover .acc-img {
    opacity: 0;
    height: 0;
  }
  label:hover {
    color: blue;
    cursor: auto;
  }
  .acc-item:hover .item-contcol-close {
    display: none;
  }
  .acc-item:hover .item-contcol-open {
    display: block;
  }
  .acc-icon{
    display: block;
  }
}